<div class="GoToLoogin">
</div>

<style>
    .GoToLoogin {
        background-size: contain;
        height: 20%;
        margin-top: 20px;
        border-radius: 10px;
        border: 1px solid #ddd;
        width: 100%;
    }
</style>