<div class="OurInfo">
</div>

<style>
    .OurInfo {
        background-size: contain;
        height: 30%;
        margin-top: 20px;
        border-radius: 10px;
        border: 1px solid #ddd;
        width: 100%;
    }
</style>