<div class="socialMedias">
</div>

<style>
    .socialMedias {
        background-size: contain;
        height: 10%;
        margin-top: 20px;
        border-radius: 10px;
        border: 1px solid #ddd;
        width: 100%;
    }
</style>